<%= image_tag("default.gif") %>
Level: <%= @user.level %>
<%= button_to "Store", store_path, form: {style: "display:inline-block"}, :class => "btn btn-primary", :method => :get %>

<form class="form_style">
        <input type="text" class="search" placeholder="add a new task" required>
        <input type="button" class="button" value="Add">
</form>
