
<h5 style="margin-left: 2em">Use your points to buy armor for your character.</h5>
<br>
<div class="row">
  <% @items.each do |i| %>
    <div class="col-md-3 centered">
      <%= image_tag("#{i.name}.svg", :size => "100x100") %>
      <br>
      <%= i.name %>
      <br>
      <%= i.cost %> points
      <% if (@user.level + 1)*100 >= i.cost %>
        <%= button_to "Buy", buy_path(id: i.id), :class => "btn btn-primary", :method => :patch %>
      <% else %>
        <br>
        <button class="btn btn-primary disabled">Buy</button>
      <% end %>
      <br>
    </div>
  <% end %>
</div>
